*{
	margin:0;
	padding:0;
}

body{
	font-family:Arial, Helvetica, sans-serif;
	background: #F1F1F1;
}

input[type='text'], input[type='password']{
	padding:5px;
	width:100%;
}

#btnCerrarSesion{
	float: right;
}

#ToolBar{
	min-height:25px;
	background: #2D2D2D;
	padding:5px;
}

#ToolBar a{
	color: #B7B3B0;
	text-decoration:none;
}
#ToolBar a:hover{
	color: #FBFAFF;
}

#ToolBar ul {
	padding:1; 
	margin:1; 
	list-style:none;
}
#ToolBar li {
	float:left; 
	position:relative; 
	padding-right:100; 
	display:block;
}
#ToolBar li ul {
    display:none;
	position:absolute;
}
#ToolBar li:hover ul{
	/*transition: all 0.07s ease-in 0s;*/
    display:block;
    background:rgba(0,0,0,0.8);
	height:auto;
	padding: 0 8px; 
	margin-left:-20px;
	/*width:182px;*/
}
#ToolBar li ul li{
    clear:both;
    font-size: 12px;
	padding: 22px 0px 20px 8px;
	border-top: solid 1px #EBDEB1;
	/*width:160px;*/
}
#ToolBar li ul li:first-child{
	border:none;
}
#ToolBar li ul li a{
	font-weight:normal;
}
.menuItem a{
	color:#5D5D5B;
	text-decoration: none;
	margin-right:67px;
}
.menuItem:hover a{
	color:#9A2013;
}
.menuItem.selected a{
	color:#9A2013;
	font-weight:bold;
}

.formulario textarea{
	width:100%;
	padding:5px;
}
.formulario select{
	padding:5px;
}
.formulario td{
	padding:5px;
}
.formulario input[type='submit'],
.formulario button{
	padding: 5px 15px;
}
.formulario label{
	display: block;
}
.formulario{
	margin:30px auto;
}

.ConImagen{
	color:green;
	display:inline;
}

.SinImagen{
	color:red;
	display:inline;
}

.TitulosTd{
	font-weight: bold;
	border-bottom: solid 1px #ccc;
}

.table-borded{
	border: 1px solid #ccc;
}

.tblResultados{
	margin:auto;
	width:1020px !important;
}

tr td.tdAcciones,
tr th.tdAcciones{
	text-align: center;
}
tr td.tdAcciones a{
	padding:0 10px;
}

input.tablesorter-filter.disabled{
	display:none;
}

.txtNegritas{
	font-weight:bold;
}

/* Tablesorter Pager */
div.tablesorterPager {
	width:200px;
	padding: 10px 0 10px 0;
	text-align: center;
	margin:auto;
}
div.tablesorterPager span {
	padding: 0 5px 0 5px;
}
div.tablesorterPager input.prev {
	width: auto;
	margin-right: 10px;
}
div.tablesorterPager input.next {
	width: auto;
	margin-left: 10px;
}
div.tablesorterPager input {
	width: 50px;
	border: 1px solid #330000;
}

.pagedisplay{
	text-align:center;
}

i.first,i.prev,
i.next,i.last{
	cursor:pointer;
	font-size: 20px;
}

i.first:hover,i.prev:hover,
i.next:hover,i.last:hover{
	color:#565654;
}
/* Fin Tablesorter Pager */	