.hrContacto{
	color: #901B0A;
	background-color: #901B0A;
	height: 2px;
}

#contenido{
	padding:80px 0;
}

@media screen and (min-width: 801px){
	#ColumnaUno{
		float:left;
		width: 40%;
		margin-left:30px;
	}
	#ColumnaDos{
		width: 40%;
		float:right;
		margin-right:30px;
		text-align: justify;
	}
}

@media (max-width: 800px){
	#ColumnaUno{
		padding: 10px 0;
	}
	#ColumnaDos{
		text-align: justify;
		padding: 10px 0;
	}
	#nav{
		display:none;
	}
}

#FormularioReservacion{
	width:100%;
}
#FormularioReservacion input[type='text']{
	width:100%;
	height:28px;
	margin:8px 0;
}
#FormularioReservacion textarea{
	width:100%;
	height:90px;
	margin:8px 0;
}
#FormularioReservacion td{
	padding-right:10px;
}

#btnEnviar{
	background:#901A0C;
	border:none;
	color:#FFF;
	font-weight:bold;
	padding: 10px 40px;
}
#btnEnviar:hover{
	background:#632D13;
}
