.galControls{
	background:url(../images/circulo.png) no-repeat top;
	cursor:pointer;
	float:left;
	margin-right:5px;
	height:15px;
	width:15px;
}

.galControls:active{
	background-position:bottom;
}

.imgGale{
	display:none;	
}

#MensajeGaleria{
	background:#E5E5E5;
	color: #5C5C5C;
	float:left;
	line-height:26px;
	height: 402px;
	text-align: center;
	width: 265px;
}

#MensajeGaleria div{
	margin: 30px auto;
	font-size:14px;
	width:200px;
}

#ImagenGaleria{
	background-repeat:no-repeat;
	float:left;
	height: 402px;
	width: 750px;
}

.fondo01{
	background-image: url(../images/subidas/Banners/imgGaleria01.jpg);
}
.fondo02{
	background-image: url(../images/subidas/Banners/imgGaleria02.jpg);
}
.fondo03{
	background-image: url(../images/subidas/Banners/imgGaleria03.jpg);
}
#galeria{
	background:url(../images/sombra.jpg) no-repeat bottom;
	height: 443px;
	margin-top:10px;
}

#galeriaControl{
	margin-left:340px;
	float:left;
	height:20px;
	width:100px;
}

#fig1{
	margin-top:40px;
}
#fig2{
	margin-top:10px;
}

#regresar{
	display:none;
}


