@media screen and (min-width: 801px){
	.tapaGaleria{
		background:#FFF;
		border: solid 1px #B2B2B2;
		max-height:290px;
		padding:5px;
		width:460px;
		min-width:260px;
		margin:10px 20px;
		float:left;
		text-align:center;
	}
	#contenido{
		min-height:800px;
	}
}

@media (max-width: 800px){
	#nav{
		display:none;
	}
	.tapaGaleria{
		background:#FFF;
		border: solid 1px #B2B2B2;
		padding:5px;
		width:100%;
		min-width:260px;
		margin:10px auto;
		float:left;
	}
	
}

.tapaGaleria img{
	width:100%;
	margin:auto;
	max-height:250px;
}

a.group1{
	text-decoration:none;
	color:#5D5D5B;
}
