*{
	margin:0;
	padding:0;
}
body {
	background: #252523;
	color: #93938B;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 1.5em;
}

.clearfix{
	clear:both;
}

.menuItem a{
	color:#5D5D5B;
	text-decoration: none;
	margin-right:67px;
}

.menuItem.selected a{
	color:#9A2013;
	font-weight:bold;
}

.menuFoot{
	width:100%;
	min-width:267px;
	min-height:200px;
	float:left;
	margin-left:2em;
}
.menuFoot ul{
	list-style:none;
}
.menuIFoot a{
	color: #565654;
	text-decoration: none;
}

.menuFootTitle{
	color: #F4DDAB;
	font-size:1em;
	font-weight: bold;
	margin-left: 40px;
}

.iconComida{
	background: url(../images/icon-comida.png) no-repeat;
	height:26px;
	width:16px;
	position:absolute;
}
.iconInstal{
	background: url(../images/icon-instal.png) no-repeat;
	height:26px;
	width:16px;
	position:absolute;
}
.iconVino{
	background: url(../images/icon-vino.png) no-repeat;
	height:22px;
	width:17px;
	position:absolute;
}

#redesSociales{
	margin-bottom:1em;
}
#redesSociales span{
	margin-left:2em;
}

#galeria{
	display: none;
}

#galeriaControl{
	display:none;
}

#contenido{
	color: #4F4C47;
	min-height: 200px;
}

#main{
	background: #FAF6EB;
	border-top: solid 2px #A6A39C;
	padding: 10 auto;
	padding:5px;
}

#footer{
	margin: auto;
	padding:5px;
}

#nav{
	margin-left:1em;
}

#nav li {
	float:left; 
	background:#E5E5E5;
	padding: 10px 10px;
	margin-bottom:2px;
	width: 90%;
	display:block;
}
#nav ul{
	margin:auto;
}

#reservaciones{
	height: 98px;
	float:left;
	padding-top: 32px;
	padding-left:1em;
	width:300px;
}

#reservacionesNum{
	color:#642C13;
	font-weight:bold;
	float:left;
	font-size: 17px;
	margin-left:10px;
}

#reservacionesTxt{
	color:#642C13;
	float:left;
	margin-left:10px;
}

#logoReservaciones{
	background: url(../images/icon-cel.png) no-repeat;
	height: 55px;
	width: 54px;
	float:left;
}

#regresar{
	background:#E5E5E5;
	width:100%;
	padding: 10px 10px;
	margin-bottom:2px;
	float:left;
	text-align:center;
}
a#regresar{
	color:#5D5D5B;
	text-decoration:none;
}

#redesSociales{
	color: #F4DDAB;
	float:left;
	text-align:center;
	width:100%;
	line-height:50px;
}
#redTwitter{
	background: url(../images/icon-twit.png) no-repeat top;
	width:36px;
	height:35px;
	margin-left:50px;
	display:inline-block;
}
#redFacebook{
	display:inline-block;
	background: url(../images/icon-face.png) no-repeat top;
	width:36px;
	height:35px;
	margin-left:30px;
}