*{
	margin:0;
	padding:0;
}
body {
	background: #252523;
	color: #93938B;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	min-width: 1030px;
}

.clearfix{
	clear:both;
}

#nav ul {
	padding:1; 
	margin:1; 
	list-style:none;
}
#nav li {
	float:left; 
	position:relative; 
	padding-right:100; 
	display:block;
}
#nav li ul {
    display:none;
	position:absolute;
}
#nav li:hover ul{
	border-top: solid 3px #901B0A;
    display:block;
    background:rgba(0,0,0,0.8);
	height:auto;
	padding: 0 8px; 
	/*width:182px;*/
}
#nav li ul li{
    clear:both;
    font-size: 12px;
	padding: 22px 0px 20px 11px;
	border-top: solid 1px #EBDEB1;
	width:160px;
}
#nav li ul li:first-child{
	border:none;
}
#nav li ul li a{
	color:#EBDEB4;
	font-weight:normal;
}
.menuItem a{
	color:#5D5D5B;
	text-decoration: none;
	margin-right:60px;
}
.menuItem:hover a{
	color:#9A2013;
}
.menuItem.selected a{
	color:#9A2013;
	font-weight:bold;
}

.menuFoot{
	min-width:267px;
	min-height: 200px;
	float:left;
}

.menuFoot ul{
	list-style: none;
	float:left;
	margin-left: 40px;
}

li.menuIFoot{
}

.menuIFoot a{
	color: #565654;
	text-decoration: none;
}

.menuFootTitle{
	color: #F4DDAB;
	font-size:17px;
	font-weight: bold;
	margin-left: 40px;
}

.iconComida{
	background: url(../images/icon-comida.png) no-repeat;
	height:26px;
	width:16px;
	position:absolute;
}
.iconInstal{
	background: url(../images/icon-instal.png) no-repeat;
	height:26px;
	width:16px;
	position:absolute;
}
.iconVino{
	background: url(../images/icon-vino.png) no-repeat;
	height:22px;
	width:17px;
	position:absolute;
}

#contenido{
	color: #4F4C47;
	min-height: 200px;
}

#container{
	margin: auto;
	width: 1024px;
}

#logoBoston{
	background: url(../images/logo.png) no-repeat;
	float:left;
	height: 155px;
	width: 148px;
	margin-left:20px;
}

#nav{
	float:right;
	margin-right: -68px;
}

#main{
	background: #FAF6EB;
	border-top: solid 2px #A6A39C;
	margin-top: 22px;
	margin-bottom: 30px;
}

#header{
	margin-top:4px;
}

#footer{
	margin: auto;
	width:1024px;
}

#redesSociales{
	color: #F4DDAB;
	min-height: 200px;
	font-size: 12px;
	float:left;
	text-align:center;
	width:210px;
}

#reservaciones{
	height: 98px;
	float:right;
	padding-top: 32px;
	width:230px;
}

#reservacionesNum{
	color:#642C13;
	font-weight:bold;
	float:left;
	font-size: 17px;
	margin-left:10px;
}

#reservacionesTxt{
	color:#642C13;
	float:left;
	margin-left:10px;
}

#copyright{
	color: #F4DDAB;
	font-weight: bold;
	font-size:14px;
}

#logoReservaciones{
	background: url(../images/icon-cel.png) no-repeat;
	height: 55px;
	width: 54px;
	float:left;
}

#redTwitter{
	background: url(../images/icon-twit.png) no-repeat bottom;
	width:36px;
	height:35px;
	float:left;
	margin-left:70px;
}

#redFacebook{
	background: url(../images/icon-face.png) no-repeat bottom;
	width:36px;
	height:35px;
	float:left;
	margin-left:87px;
}

#redTwitter:hover,
#redFacebook:hover{
	background-position:top;
}

#regresar{
	display:none;
}
