.iconComida2{
	background: url(../images/icon-comida.png) no-repeat;
	height:26px;
	width:16px;
	float:left;
}

@media screen and (min-width: 801px){
	.Alimento{
		width: 46%;
		float:left;
		margin:20px;
	}
	
	#contenido{
		min-height:800px;
	}
}
@media (max-width: 800px){
	.Alimento{
		width: 100%;
		min-width:280px;
		float:left;
	}	
	#nav{
		display:none;
	}
}

.AlimentoHead{
	display:block;
}

.hrAlimentos{
	color: #901B0A;
	background-color: #901B0A;
	height: 2px;
}

.NombreAlimento{
	color:#454140;
	float:left;
	font-size:18px;
	margin-left:10px;
	margin-top:3px;
	text-transform:uppercase;
}

.DescripcionAlimento{
	text-align:justify;
}

.ImagenAlimento{
	background:#FFF;
	border: solid 1px #B2B2B2;
	max-height:250px;
	margin-top:30px;
	padding:5px;
	width:100%;
	max-width:460px;
	min-width:260px;
}
