@media screen and (min-width: 801px){
	.VinoPaises{
		width: 60%;
		display:block;
		margin:10px auto;
	}
	.TablaVinos	td
	{
		padding-right:25px;
		padding-bottom: 6px;
	}
	.TablaVinos{
		margin-left:60px;
	}

}

@media (max-width: 800px){
	#nav{
		display:none;
	}
	.VinoHead{
		cursor:pointer;
	}
	.TablaVinos{
		display:none;
	}
	.VinoPaises{
		width: 100%;
		float:left;
		margin-bottom:15px;
	}
	.TablaVinos	td
	{
		padding-right:15px;
		padding-bottom:6px;
		font-size:0.8em !important;
	}
	.TablaVinos{
		margin-left:10px;
	}
}

.hrVinos{
	color: #901B0A;
	background-color: #901B0A;
	height: 2px;
}

.TipoVino{
	color: #93190C;
	font-weight:bold;
}

.NombreNacion{
	float:left;
	margin-left:10px;
}

.iconBandera{
	margin-left: 10px;
}

.iconVino2{
	background: url(../images/icon-vino.png) no-repeat;
	height:22px;
	width:17px;
	float:left;
}

.columnaUno{
	text-align: right;
}

#contenido{
	padding:80px 0;
}

